/_build
/deps
erl_crash.dump
*.ez
/priv/google/storage.json
/priv/google/storage.key.pm
/test/fixture/storage.p12
/test/fixture/storage.json
/test/fixture/storage.crt.pem
/test/fixture/storage.key.pem
